<% content_for :page_title, @post.title %>

<section class="section">
  <div class="container">
    <nav class="level">
      <!-- Left Side -->
      <div class="level-left">
        <p class="level-item">

        </p>
      </div>

      <!-- Right Side -->
      <div class="level-right">
        <p class="level-item">
          <%= link_to "Edit", edit_post_path(@post), class: "button" %>
        </p>
        <p class="level-item">
          <a class="button is-danger">Delete</a>
        </p>
      </div>
    </nav>
    <hr>
    <div class="content">
      <div class="textarea" id="regcontent">
      <%= @post.content %>
      </div>
      <div class="level-right">
        <p class="level-item">
          <button class="button is-info" id="copy-button" onclick="copyReg()">Copy</button>
        </p>
      </div>
      <hr>
      <div class="textarea" id="medcontent">
      <%= @post.medcontent %>
      </div>
      <div class="level-right">
        <p class="level-item">
          <button class="button is-info">Copy</button>
        </p>
      </div>
      <hr>
      <div class="textarea" id="shortcontent">
      <%= @post.shortcontent %>
      </div>
      <div class="level-right">
        <p class="level-item">
          <button class="button is-info">Copy</button>
        </p>
      </div>
    </div>
  </div>
</section>
